@font-face {
    font-family: 'Lato'; src: url('fonts/Lato/Lato-Regular.ttf') format('truetype'); font-weight: normal;
}


body {
    background: linear-gradient( rgba(207, 221, 245, 0.5), rgba(215, 255, 255, 0.5),rgba(255, 255, 255, 0.5));
    backdrop-filter: blur(112px);
    background-repeat: no-repeat;
}

header{
    margin: 2em;
}

.button{
    color: rgba(255, 255, 255, 1);
    background: rgba(15, 37, 73, 1);
    border-radius: 48px;
    font-family: 'Lato';
    font-size: 15px;
    text-align: center;
    padding: 14.5px 24px 14.5px 24px;
    
}




.button:hover{
    color: white;
    
}

main{
    margin: 2em;
}

main > div > div > div > h1 {
    color:#0f2549;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 64px;
    font-weight: bold;
    line-height: 64px;
    letter-spacing: -0.01em;
  
}
@media (max-width: 534px) {
    main > div > div > div > h1  {
      font-size: 32px; line-height: 32px;
    }
  }

main > div > div > div > p {
    color:#0f2549 ;
    font-size: 16px ;    
    
}

span.colorverde{
    color: #159191;
}

.rnk-container-propriedades {
    
    position: relative; 
    padding: 24px;
    border-radius: 32px;
    overflow: hidden;
}

.rnk-container-propriedades::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('background-aquisicao.png');
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(32px);
    opacity: 30%;
    
   
}

.rnk-container-propriedades > * {
    position: relative;
}



h2.font-px {
    font-size: 16px;
    padding-left:2.8em;
    font-weight: bold;   
}



li{
    font-size: 16px;
    font-family: 'Lato';
    
}

.check {
    padding-left: 0;
    list-style-type: none;

}

.check li{
    display: flex;
    align-items: center;
  
}
    

.check i {
    font-size: 23px;
    padding-right: 1em;   
}

h2.container-2 {
    font-family: 'Lato';
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: -0.01em;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.rnk-container-propriedades ul {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem;
    list-style: none;
    padding: 0;
    margin: 0;
}


.rnk-container-propriedades ul li {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2rem;

}

@media (max-width:768px) {
    .rnk-container-propriedades ul {
        grid-template-columns: 1fr;
    }
}

